name: Ruby

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Install Package Dependencies
      uses: mstksg/get-package@v1
      with:
        apt-get: ruby-dev libqt4-dev
    - name: Build and test with Rake
      run: rake
